<app-navbar></app-navbar>

<div class="table-container">
  <h2>👨‍🏫 Liste des Professeurs</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prof of professeurs">
        <td data-label="Nom">{{ prof.nom }}</td>
        <td data-label="Prénom">{{ prof.prenom }}</td>
        <td data-label="Email">{{ prof.email }}</td>
        <td data-label="Téléphone">{{ prof.telephone }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-container">
  <h2>🎓 Liste des Étudiants</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etu of etudiants">
        <td data-label="Nom">{{ etu.nom }}</td>
        <td data-label="Prénom">{{ etu.prenom }}</td>
        <td data-label="Email">{{ etu.email }}</td>
        <td data-label="Téléphone">{{ etu.telephone }}</td>
      </tr>
    </tbody>
  </table>
</div>
